/* ======= Reset básico e variáveis ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --corFundo: #ffffff;
  --corTexto: #2b2b2b;
  --textoSuave: #6b6b6b;
  --corBorda: #e9e9e9;
  --cinzaClaro: #f5f6f7;
  --corPrimaria: #038f26;
}

body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    Arial,
    sans-serif;
  color: var(--corTexto);
  background: var(--corFundo);
  line-height: 1.4;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 40px;
  border-bottom: 2px solid #e0e0e0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  width: 250px;
  height: auto;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 14px;
  transition: color 0.3s;
}

.menu :hover,
.menu {
  color: #eef9f5;
}

.cart .material-icons {
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

.principal {
  background-image: url(imagens/bolsa-wallpaper.jpg);
  height: 550px;

  .texto {
    padding-left: 150px;
    padding-top: 80px;
  }
button{
  background-color: #038f26;
  color: #e0e0e0;
  height: 50px;
  width: 180px;
  font-size: 15px;
  border-color: transparent;
}
 h1{
display: flex;
font-size: 60px;
  width: 10px;
  font-weight: 400;


 }
 p{
  height: 60px;
  width: 370px;
 }
}
 .bolsas{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding-left: 50px;
  padding-bottom: 60px;

  .bolsa {
    width: 300px;

    img{
      width: 100%;
    }

    p {
      text-align: center;
      font-weight: bold;

    }

    .menor {
      font-size: 13px;
      color: #333;
    }

    .pré-footer{
      margin-top: 30px;
      justify-content: space-around;
      align-items: center;
      display: flex;

      .imgs {
        gap: 24px;
        display: flex;

        img {
          height: 10px;
          width: 10px;
        }
      }

    }

    .pré-footer2 {
      align-items: center;
      display: flex;
      justify-content: center;
      gap: 25px;
      margin-top: 30px;
      margin-bottom: 30px;

      a{
        color: #2b2b2b;
      }
    }

    footer {
      align-items: center;
      justify-content: center;
      display: flex;
      color: #6b6b6b;
      background-color: #e9e9e9;
      box-shadow: 0px -2px 2px #e0e0e0;
    }

  }
 }